@mixin btn($padding, $margin) {
  background-color: darkblue;
  color: white;
  font-weight: bold;
  border-radius: 3rem;
  padding: $padding;
  margin: $margin;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s all ease-in-out;
  box-shadow: rgba(206, 206, 206, 0.8) 0rem 0.4rem 1.6rem;
  &:hover {
    box-shadow: rgba(206, 206, 206, 0.8) 0rem 0.4rem 1.6rem,
      rgba(228, 228, 228, 0.8) 0rem 0.8rem 2.4rem;
  }
  &:active {
    transform: scale(0.97);
  }
}

@mixin toggler {
  width: 5rem;
  padding: 1.2rem;
  box-shadow: rgba(206, 206, 206, 0.8) 0rem 0.4rem 1.6rem;
  border-radius: 3rem;
  cursor: pointer;
  position: relative;
  & .btn.active {
    background-color: rgb(3, 137, 182);
    transform: translateX(2.5rem);
  }
  & .btn.inactive {
    background-color: rgb(204, 0, 0);
    transform: translateX(0rem);
  }
  & .btn {
    position: absolute;
    padding: 1.2rem;
    top: 0;
    left: 0;
    transition: 0.2s all;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
