@mixin btn($padding, $margin) {
  background-color: darkblue;
  color: white;
  font-weight: bold;
  border-radius: 3rem;
  padding: $padding;
  margin: $margin;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s all ease-in-out;
  box-shadow: rgba(206, 206, 206, 0.8) 0rem 0.4rem 1.6rem;
  &:hover {
    box-shadow: rgba(206, 206, 206, 0.8) 0rem 0.4rem 1.6rem,
      rgba(228, 228, 228, 0.8) 0rem 0.8rem 2.4rem;
  }
  &:active {
    transform: scale(0.97);
  }
}
